* {
  box-sizing: border-box;
}

body {
  background-color: #fefffc;
  color: #444;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.reg {
  font-size: 1rem;
  position: relative;
  bottom: 20%;
  font-family: 'Raleway', sans-serif;
}

#top {
  margin: 5px 5vw;
  height: 12.75vh;
}

#top h1 {
  float: left;
  margin: 0 0 0 20px;
}

#top h1 a {
  font-size: 2.6em;
  font-family: 'Tulpen One', cursive;
  letter-spacing: 1vh;
  color: #556644;
  text-decoration: none;
  font-weight: normal;
  transition: letter-spacing 1s ease-in-out, opacity 300ms ease-in-out, padding-left 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
  opacity: 0.7;
}

#top h1 a:hover {
  opacity: 1;
  letter-spacing: 3vw;
  background-color: #556644;
  color: #fefffc;
  padding-left: 4vw;
  position: relative;
}

#menu {
  float: right;
  list-style-type: none;
  margin-top: 40px;
  margin-right: 20px;
  display: block;
}

#menu li {
  display: inline;
  height: 50px;
  margin-left: 25px;
  letter-spacing: 3px;
  font-size: 1.2em;
  opacity: 0.7;
  transition: opacity 300ms;
}

#menu li:hover {
  opacity: 1;
}

#menu li:nth-child(3) {
  background-color: transparent;
  border: 2px solid #556644;
  letter-spacing: 3px;
  color: #556644;
  border-radius: 5px;
  padding: 7px 14px;
  transition: background-color 300ms, color 300ms;
  position: relative;
  right: 10px;
}

#menu li:nth-child(3) a {
  font-size: 0.95em;
}

#menu li:nth-child(3):hover {
  background-color: #556644;
  color: white;
  cursor: pointer;
}

#mobile-menu {
  display: none;
}

#top:after {
  content: "";
  clear: both;
  display: block;
}

#image {
  width: 100%;
  height: 78vh;
  background-image: url("../img/tofu-header.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#jumbo {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: relative;
}

#jumbo p {
  text-align: center;
  font-size: 4em;
  color: white;
  position: absolute;
  left: 50vw;
  top: 40%;
  width: 100%;
  letter-spacing: 4px;
  transform: translate(-50%, -50%)
}

#jumbo p button {
  font-size: 20px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid white;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  transition: background-color 300ms, color 300ms;
}

#jumbo p button:hover {
  background-color: #fff;
  color: #334422;
  cursor: pointer;
}

#main {
  width: 100%;
  padding: 25px;
}

#about {
  width: 50%;
  padding: 2vh 5vw;
  float: left;
  line-height: 25px;
  font-size: 1.1em;
}

#about h2 {
  font-size: 2.75em;
  letter-spacing: 2px;
}

#about table {
  border-collapse: collapse;
  border: 2px solid #445533;
  width: 100%;
  font-size: 0.9em;
}

tr:nth-of-type(n+2) {
  border: 2px solid #889977;
}

tr:nth-of-type(even) {
  background-color: #e4e8dc;
}

tr th {
  background-color: #445533;
  color: white;
  padding: 2px 10px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
}

tr th:first-of-type {
  text-align: left;
}

tr td {
  padding: 0px 10px;
  text-align: center;
  border-left: 2px solid #889977;
  color: #667755;
}

tr td:first-of-type {
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}

.small {
  font-size: 0.8em;
  margin: 0;
  opacity: 0.8;
}

#about ul {
  padding: 0;
}

#about ul li {
  margin-bottom: 5px;
  font-weight: 600;
  list-style-position: inside;
  list-style-type: none;
}

#about ul li a {
  font-size: 1.1em;
  color: #334422;
  opacity: 0.8;
  letter-spacing: 1px;
  transition: opacity 300ms, letter-spacing 300ms;
}

#about ul li a:hover {
  opacity: 1;
  letter-spacing: 2px;
  text-decoration: underline;
}

#gallery {
  width: 50%;
  padding: 5vh 5vw 4vh 0vw;
  float: right;
  font-size: 1.1em;
  position: relative;
}

#gallery img {
  width: 33.3%;
  object-fit: cover;
  display: block;
  float: left;
  opacity: 0.9;
  transition: opacity 300ms;
}

#gallery img:hover {
  opacity: 1;
  cursor: pointer;
}

#main:after {
  clear: both;
  content: "";
  display: block;
}

#bottom {
  background-color: #334422;
  width: 100%;
  height: 40vh;
  color: #fefffc;
  position: relative;
  text-align: center;
}

#bottom p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 40px;
}

#bottom p img {
  width: 50px;
  filter: invert(1);

}

#bottom p a {
  letter-spacing: 1px;
  opacity: 0.7;
  transition: opacity 300ms;
}

#bottom p a:hover {
  letter-spacing: 1px;
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 900px) {
  #about h2 {
    font-size: 2em;
  }

  #gallery, #about {
    float: none;
  }

  #about {
    padding: 0;
    margin: 20px 0 50px 0;
    text-align: center;
    width: 100%;
  }

  #gallery {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #gallery:before {
    width: 100%;
    border-top: 2px solid #ccddbb;
    padding-top: 60px;
    content: "";
    display: block;
  }
}

@media (max-width: 600px) {
  #menu {
    display: none;
  }

  #mobile-menu {
    display: block;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 11vh;
    top: 20px;
    text-align: center;
    background-color: #fefffc;
    z-index: 3;
    border-radius: 0 0 0 10px;
    overflow: hidden;
    opacity: 0.6;
    transition: opacity 300ms, height 300ms;
  }

  #mobile-menu img {
    width: 70px;
    margin-bottom: 30px;
    margin-left: 90px;
  }

  #mobile-menu ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style-type: none;
  }

  #mobile-menu ul li {
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    opacity: 0.7;
  }

  #mobile-menu ul li:hover {
    opacity: 1;
  }

  #mobile-menu:hover {
    height: 35%;
    cursor: pointer;
    opacity: 0.8;
  }
}
